body {
  box-sizing: border-box;
  background: white;
  color: #501f84;
  font-family: "PT Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  width: 33rem;
  margin: 33px auto;
  border: 3px solid #501f84;
  border-radius: 15px;
  background: rgba(200, 200, 200, 0.5);
}

h1 {
  padding-top: 1rem;
  color: #501f84;
  font-size: 1rem;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
  padding: .3rem;
}
h2 span {
  width: 5rem;
  display: inline-block;
}

#nbn {
  width: 100%;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30rem;
  height: 30rem;
  margin: auto;
}

label {
  display: block;
  width: 5.7rem;
  height: 5.7rem;
  border: 3px solid #501f84;
  border-radius: 15px;
  background: #501f84;
}
label input {
  display: none;
}
label input:checked + .mark {
  background: transparent;
  color: white;
}
label .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.34rem;
  height: 5.34rem;
  padding: .3rem;
  border-radius: 12px;
  background: white;
  font-size: .9em;
  text-align: center;
}

small {
  display: block;
  padding: 1em;
  text-align: center;
}
